
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
 

  line-height: 1.4;
  margin-bottom: 0.5rem;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-color: #0D6EFD;
  --navbar-color: #8B96A5;
}

.buttons{
  background-color: #0D6EFD;
}

.elements{
  background-color: #FFFFFF;
}
.cyanshi{
  background-color: #55BDC3;
}
.logindiv{
    background-color: #E3F0FF;
  }

  .detailsbox{
 background-color: #FFF0DF;
  }

.clip-path-banner {
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
  background-color: #1f6fe6;
}

 .orange{
   background-color: #F38332;
 } 
:root {
  --button-color: #1d4ed8;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; 
  border-radius: 4px;
}

/* Add this in your global CSS file */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.3s ease-out forwards;
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.scrollbar::-webkit-scrollbar {
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


.buttons:hover {
  transition: all 0.3s ease;
  background-color: #3B82F6; /* Tailwind's blue-500 */
}

.footer{
  background-color: #EFF2F4;
}

.jody{
   margin: 1px 80px;
}

.mody{
  margin:1px 20px;
}

body {
 background-color: #F7FAFC;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .search-bar {
    width: 100%;
  }

  

  .user-menu {
    width: 100%;
    justify-content: space-between;
  }
}
